Repository alphaville/optimization-engine, pull requests merged in 2020-09, with the labels that each got.

#196 fix issue 195 (typos in docs)
  docs/python-interface.md
Labels: docs

#194 Support for halfspaces in python
  CHANGELOG.md
  Cargo.toml
  docs/openrust-basic.md
  docs/python-interface.md
  icasadi/ci/install.sh
  icasadi/ci/script.sh
  open-codegen/CHANGELOG.md
  open-codegen/VERSION
  open-codegen/opengen/builder/set_y_calculator.py
  open-codegen/opengen/constraints/__init__.py
  open-codegen/opengen/constraints/ball_inf.py
  open-codegen/opengen/constraints/halfspace.py
  open-codegen/opengen/constraints/rectangle.py
  open-codegen/opengen/constraints/soc.py
  open-codegen/opengen/main.py
  open-codegen/opengen/templates/optimizer.rs
  open-codegen/opengen/test/test.py
  open-codegen/opengen/test/test_constraints.py
  open-codegen/setup.py
Labels: codegen, enhancement, python

#204 Installation instructions
  docs/installation.md
Labels: docs

#206 move --release before the args to the binary
  open-codegen/opengen/tcp/optimizer_tcp_manager.py
Labels: bug, python
