Repository alphaville/optimization-engine, pull requests merged in 2020-10, with the labels that each got.

#212 Bug with Cartesian products in code generation
  open-codegen/CHANGELOG.md
  open-codegen/VERSION
  open-codegen/opengen/templates/optimizer.rs
Labels: codegen

#213 OptimizerTcpManager for remote connections
  open-codegen/CHANGELOG.md
  open-codegen/opengen/tcp/optimizer_tcp_manager.py
  open-codegen/opengen/test/test.py
Labels: bug, python

#217 Generate Python Bindings with PyO3
  open-codegen/opengen/builder/optimizer_builder.py
  open-codegen/opengen/config/build_config.py
  open-codegen/opengen/main.py
  open-codegen/opengen/templates/python/python_bindings.rs
  open-codegen/opengen/templates/python/python_bindings_cargo.toml
Labels: codegen, enhancement, python

#218 Python-to-Rust interface using Pyo3
  docs/example_estimation_py.md
  docs/example_rosenbrock_py.md
  docs/python-bindings.md
  docs/python-interface.md
  open-codegen/CHANGELOG.md
  open-codegen/VERSION
  open-codegen/opengen/builder/optimizer_builder.py
  open-codegen/opengen/config/build_config.py
  open-codegen/opengen/main.py
  open-codegen/opengen/templates/optimizer_cargo.toml
  open-codegen/opengen/templates/python/cargo_config
  open-codegen/opengen/templates/python/python_bindings.rs
  open-codegen/opengen/templates/python/python_bindings_cargo.toml
  open-codegen/opengen/test/test.py
  website/sidebars.json
Labels: codegen, enhancement, python
