Repository alphaville/optimization-engine, pull requests merged in 2022-09, with the labels that each got.

#283 Function name mangling in auto-generated code
  open-codegen/CHANGELOG.md
  open-codegen/VERSION
  open-codegen/opengen/builder/optimizer_builder.py
  open-codegen/opengen/config/build_config.py
  open-codegen/opengen/config/meta.py
  open-codegen/opengen/templates/icasadi/casadi_memory.h
  open-codegen/opengen/templates/icasadi/icasadi_lib.rs
  open-codegen/opengen/templates/icasadi/interface.c
  open-codegen/opengen/templates/optimizer.rs
  open-codegen/opengen/templates/optimizer_cargo.toml
  open-codegen/opengen/templates/python/python_bindings.rs
  open-codegen/opengen/templates/python/python_bindings_cargo.toml
  open-codegen/opengen/templates/ros/open_optimizer.cpp
  open-codegen/opengen/templates/tcp/tcp_server.rs
  open-codegen/opengen/templates/tcp/tcp_server_cargo.toml
  open-codegen/opengen/test/test.py
Labels: enhancement, python, codegen

#286 Code generation of preconditioning functions
  open-codegen/CHANGELOG.md
  open-codegen/VERSION
  open-codegen/opengen/builder/optimizer_builder.py
  open-codegen/opengen/config/meta.py
  open-codegen/opengen/main.py
Labels: enhancement, python

#287 casadi_memory: allocate memory for preconditioning functions
  open-codegen/opengen/builder/optimizer_builder.py
  open-codegen/opengen/config/solver_config.py
  open-codegen/opengen/main.py
  open-codegen/opengen/templates/icasadi/casadi_memory.h
Labels: python, codegen

#288 Preconditioning: implementation in interface.c
  open-codegen/opengen/builder/optimizer_builder.py
  open-codegen/opengen/config/meta.py
  open-codegen/opengen/icasadi/build.rs
  open-codegen/opengen/main.py
  open-codegen/opengen/templates/icasadi/casadi_memory.h
  open-codegen/opengen/templates/icasadi/interface.c
Labels: enhancement, rust, codegen

#290 Rust wrappers around preconditioning functions
  .github/workflows/ci.yml
  open-codegen/opengen/builder/optimizer_builder.py
  open-codegen/opengen/templates/icasadi/icasadi_lib.rs
  open-codegen/opengen/templates/icasadi/interface.c
Labels: enhancement, rust, codegen

#293 Preconditioning in auto-generated solver
  CHANGELOG.md
  open-codegen/opengen/builder/optimizer_builder.py
  open-codegen/opengen/builder/problem.py
  open-codegen/opengen/config/solver_config.py
  open-codegen/opengen/constraints/halfspace.py
  open-codegen/opengen/main.py
  open-codegen/opengen/tcp/optimizer_tcp_manager.py
  open-codegen/opengen/templates/icasadi/icasadi_lib.rs
  open-codegen/opengen/templates/icasadi/interface.c
  open-codegen/opengen/templates/optimizer.rs
  open-codegen/opengen/test/test.py
  src/alm/alm_optimizer_status.rs
Labels: enhancement, python, rust, codegen

#295 Benchmarking framework
  open-codegen/opengen/test/README.md
  open-codegen/opengen/test/benchmark_open.py
  open-codegen/opengen/test/prepare_benchmarks.py
Labels: python, test
