Repository alphaville/optimization-engine, pull requests merged in 2024-08, with the labels that each got.

#355 :bug: Modify cargo.toml for windows environments
  Cargo.toml
Labels: rust

#340 Update docker image
  docker/Dockerfile
  docker/README.md
  docker/start_jupyter_notebook.sh
Labels: docker

#344 Support for affine spaces in code generation
  Cargo.toml
  docs/python-interface.md
  open-codegen/CHANGELOG.md
  open-codegen/VERSION
  open-codegen/opengen/builder/optimizer_builder.py
  open-codegen/opengen/constraints/__init__.py
  open-codegen/opengen/constraints/affine_space.py
  open-codegen/opengen/tcp/solver_status.py
  open-codegen/opengen/templates/c/optimizer_cinterface.rs.jinja
  open-codegen/opengen/templates/icasadi/icasadi_lib.rs
  open-codegen/opengen/templates/optimizer.rs.jinja
  open-codegen/opengen/templates/optimizer_build.rs.jinja
  open-codegen/opengen/templates/optimizer_cargo.toml.jinja
Labels: python, codegen
